@CHARSET "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

body {
    text-align: center;
    line-height: 160%;
    margin: 50px 0;
    font-family: Pretendard, sans-serif;
}

hr {
    width: 50%;
    margin: 40px auto;
}


table {
    border-collapse: collapse;
    margin: 0 auto;
}
th {
    background: #ccc;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
}

tr:nth-child(even) {
    background: #efefef;
}

tr:hover {
    background: #d1d1d1;
}

button {
    outline: 0;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    height: 30px;
    background-color: #0000000d;
    color: #0e0e10;
    padding: 0 10px;
    margin: 10px 4px;
}
button:hover {
    background-color: #0000001a;
}

